/* line 1, ../scss/loading.scss */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 13, ../scss/loading.scss */
#loading .welcome__title {
  transition: transform .4s ease-out;
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
/* line 35, ../scss/loading.scss */
.flash {
  animation-name: flash;
}
